<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%- include('../partials/cdns.ejs')%>
        <title>

            <%= title %>
        </title>
</head>

<body>
    <%- include('../partials/nav.ejs')%>

        <center>
            <h1>Create<span class="badge bg-primary mt-5">Blog</span></h1>
            <form action="/blogs" method="POST" class="p-5 w-50">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title" class="form-control" placeholder="What is the blog title"
                        aria-describedby="helpId">

                    <label for="previewText">Preview Text</label>
                    <input type="previewText" name="previewText" id="previewText" class="form-control"
                        placeholder="What should be the text Previewed" aria-describedby="helpId">

                    <div class="form-group">
                        <label for="blogBody">Blog Body | Blog Content</label>
                        <textarea class="form-control" name="blogBody" id="blogBody" rows="3"
                            placeholder="Write Here"></textarea>
                    </div>

                    <label for="author">Author</label>
                    <input type="text" name="author" id="author" class="form-control" placeholder="Who is the writer?"
                        aria-describedby="helpId">

                    <button type="submit" class="btn btn-primary m-4">Submit</button>
                </div>
            </form>
        </center>
        <%- include('../partials/footer.ejs')%>
</body>

</html>